@using OrganicShop.Domain.Dtos.ArticleDtos
@using OrganicShop.Domain.Dtos.CategoryDtos
@using OrganicShop.Domain.Dtos.Combo
@using OrganicShop.Domain.Dtos.CommentDtos
@using OrganicShop.Domain.Dtos.Page
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Dtos.TagDtos
@using OrganicShop.Domain.Entities
@using OrganicShop.BLL.Extensions
@model ArticleDetailDto
@{
    var categories = ViewData["Categories"] as List<CategorySummaryDto>;
    var tagCombos = ViewData["TagCombos"] as List<ComboDto<Tag>>;
    var mostSellProducts = ViewData["MostSellProducts"] as List<ProductListDto>;
    var lastBlogs = ViewData["LastBlogs"] as List<ArticleListDto>;

}

@section Breadcrumb {
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>وبلاگ ها : @Model.Title</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="/Blogs">
                                        وبلاگ ها
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @Model.Title
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}


<!-- Blog Details Section Start -->
<section class="blog-section section-b-space">
    <div class="container-fluid-lg">
        <div class="row g-sm-4 g-3">
            <div class="col-xxl-3 col-xl-4 col-lg-5 d-lg-block d-none">
                <form class="left-sidebar-box" method="get" id="filter-articles-form" action="/Blogs">
                    <div class="left-search-box">
                        <div class="search-box">
                            <input name="filter.Title" type="search" class="form-control" id="exampleFormControlInput1" placeholder="جستجو ...">
                        </div>
                    </div>

                    <div class="accordion left-accordion-box" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne">
                                    پست های اخیر
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body pt-0">
                                    <div class="recent-post-box">

                                        @foreach (var blog in lastBlogs)
                                        {
                                            <div class="recent-box">
                                                <a href="/Blogs/@TextExtensions.EncodePersianString(blog.Title)" class="recent-image">
                                                    <img src="~/media/images/article/@blog.MainImageName"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </a>

                                                <div class="recent-detail">
                                                    <a href="/Blog/@TextExtensions.EncodePersianString(blog.Title)">
                                                        <h5 class="recent-name">@blog.Title</h5>
                                                    </a>
                                                    <h6>@blog.CreateDate.ToString("yyyy  MMMMM  dd")<i data-feather="thumbs-up"></i></h6>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo">
                                    دسته بندی
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse collapse show">
                                <div class="accordion-body p-0">
                                    <div class="category-list-box">
                                        <ul>

                                            @foreach (var item in categories)
                                            {
                                                <li>
                                                    <a href="/Blogs/Category/@TextExtensions.EncodePersianString(item.Title)">
                                                        <div class="category-name">
                                                            <h5>@item.Title</h5>
                                                            <span>@item.ArticlesCount</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree">
                                    برچسب ها
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree"
                                 class="accordion-collapse collapse collapse show">
                                <div class="accordion-body pt-0">
                                    <div class="product-tags-box">
                                        <ul>
                                            @foreach (var tagCombo in tagCombos)
                                            {
                                                <li>
                                                    <a onclick="ChangeTagIds('@tagCombo.Value')">@tagCombo.Text</a>
                                                </li>
                                                <input name="filter.TagIds" value="@tagCombo.Value" id="tagId-@(tagCombo.Value)-input" disabled hidden />
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFour">
                                    پرفروش ترین محصولات
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse collapse show">
                                <div class="accordion-body">
                                    <ul class="product-list product-list-2 border-0 p-0">

                                        @foreach (var item in mostSellProducts)
                                        {
                                            <li>
                                                <div class="offer-product">
                                                    <a href="/Product/@item.Barcode" class="offer-image">
                                                        <img src="~/media/images/product/@item.MainImageName" class="blur-up lazyload" alt="">
                                                    </a>
                                                    <div class="offer-detail">
                                                        <div>
                                                            <a href="shop-left-sidebar.html">
                                                                <h6 class="name">@item.Title</h6>
                                                            </a>
                                                            @* <span>450 گرم</span> *@
                                                            <h6 class="price theme-color">@item.Price.ToToman()</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xxl-9 col-xl-8 col-lg-7 ratio_50">
                <div class="blog-detail-image rounded-3 mb-4">
                    <img src="~/media/images/article/@Model.MainImageName" class="bg-img blur-up lazyload" alt="">
                    <div class="blog-image-contain">
                        <ul class="contain-list">
                            <li>@Model.CategoryTitle</li>
                        </ul>
                        <h2>@Model.Title</h2>
                        <ul class="contain-comment-list">
                            <li>
                                <div class="user-list">
                                    <i data-feather="user"></i>
                                    <span>@Model.AuthorName</span>
                                </div>
                            </li>

                            <li>
                                <div class="user-list">
                                    <i data-feather="calendar"></i>
                                    <span>@Model.CreateDate.ToString("dd - MMMM - yyyy")</span>
                                </div>
                            </li>

                            <li>
                                <div class="user-list">
                                    <i data-feather="message-square"></i>
                                    <span>@Model.Comments.Count دیدگاه</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="blog-detail-contain">
                    @Html.Raw(Model.Content)
                </div>

                <div class="product-tags-box">
                    <h3 class="mt-5 mb-1">برچسب ها</h3>
                    <ul style="padding:8px">
                        @foreach (var tagCombo in tagCombos.IntersectBy(Model.TagIds, a => int.Parse(a.Value)))
                        {
                            <li style="cursor:pointer; padding:5px 12px; margin:5px; color:var(--theme-color); border-radius:3px; overflow:hidden; background-color:rgba(var(--theme-color-rgb), 0.1);">
                                <a class="fw-bold" style="font-size:13px;" href="/tag/@TextExtensions.EncodePersian(tagCombo.Text)">@tagCombo.Text</a>
                            </li>
                        }
                    </ul>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <partial name="_SendCommentUserSection" model="new CreateCommentDto { ArticleId = Model.Id }"/>
                }
                else
                {
                    <partial name="_SendCommentUnknownSection" model="new CreateCommentDto { ArticleId = Model.Id }" />
                }

                <div class="comment-box overflow-hidden">
                    <div class="leave-title">
                        <h3>دیدگاه ها</h3>
                    </div>

                    <div class="user-comment-box">
                        <ul>

                            @foreach (var comment in Model.Comments.OrderByDescending(a => a.Date))
                            {
                                <li>
                                    <div class="user-box border-color">
                                        <div class="reply-button">
                                            <i class="fa-solid fa-reply"></i>
                                            <span class="theme-color">پاسخ</span>
                                        </div>
                                        <div class="user-image">
                                            <img src="~/media//images/user/@comment.AuthorImageName"
                                                 class="img-fluid blur-up lazyload" alt="">
                                            <div class="user-name">
                                                <h6>@comment.Date.ToString("dd  MMMM  yyyy - HH:mm")</h6>
                                                <h5 class="text-content">@comment.AuthorName</h5>
                                            </div>
                                        </div>

                                        <div class="user-contain">
                                            <p>@comment.Text</p>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- Blog Details Section End -->
@section Scripts {

    <script src="~/site/views/blog/blog.js"></script>

    <partial name="_ValidationScriptsPartial" />

}