@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.CategoryDtos
@using OrganicShop.Domain.Dtos.Combo
@using OrganicShop.Domain.Dtos.ContactUsDtos
@using OrganicShop.Domain.Entities
@model UpdateContactUsDto 
   
@{
    var newestCategoryCombos = ViewData["NewestCategoryCombos"] as List<ComboDto<Category>>;
}

<!-- Footer Start -->
<footer class="section-t-space footer-section-2">
    <div class="container-fluid-lg">
        <div class="main-footer">
            <div class="row g-md-4 gy-sm-5 gy-2">
                <div class="col-xxl-3 col-xl-4 col-sm-6">
                    <a href="index.html" class="foot-logo">
                        <img src="../assets/images/logo/1.png" class="img-fluid" alt="">
                    </a>
                    <p class="information-text">
                       @Model.ShortDescription
                    </p>
                    <ul class="social-icon">
                        <li>
                            <a href="https://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.goolge.com">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="social-app mt-sm-4 mt-3 mb-4">
                        <ul>
                            <li>
                                <a href="https://play.google.com/store/apps" target="_blank">
                                    <img src="../assets/images/playstore.svg" class="blur-up lazyload" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.سیب.com/in/app-store/" target="_blank">
                                    <img src="../assets/images/appstore.svg" class="blur-up lazyload" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-2 col-xl-4 col-sm-6">
                    <div class="footer-title">
                        <h4>دسترسی سریع</h4>
                    </div>
                    <ul class="footer-list footer-contact mb-sm-0 mb-3">
                        <li>
                            <a href="/about-us" class="footer-contain-2">
                                <i class="fas fa-angle-left"></i>درباره ما
                            </a>
                        </li>
                        <li>
                            <a href="contact-us" class="footer-contain-2">
                                <i class="fas fa-angle-left"></i>تماس با ما
                            </a>
                        </li>
                        <li>
                            <a href="blog-list.html" class="footer-contain-2">
                                <i class="/blogs"></i>وبلاگ
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xxl-2 col-xl-4 col-sm-6">
                    <div class="footer-title">
                        <h4>پرکابردترین</h4>
                    </div>
                    <ul class="footer-list footer-contact mb-sm-0 mb-3">
                        <li>
                            <a href="/tracking-order" class="footer-contain-2">
                                <i class="fas fa-angle-left"></i>پیگیری سفارشات
                            </a>
                        </li>
                        <li>
                            <a href="/faq" class="footer-contain-2">
                                <i class="fas fa-angle-left"></i>سوالات متداول
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/user/dashboard" class="footer-contain-2">
                                    <i class="fas fa-angle-left"></i>حساب کاربری
                                </a>
                            </li>
                            <li>
                                <a href="/user/wishlist" class="footer-contain-2">
                                    <i class="fas fa-angle-left"></i>لیست علاقه‌مندی
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="col-xxl-2 col-xl-4 col-sm-6">
                    <div class="footer-title">
                        <h4>دسته ها</h4>
                    </div>
                    <ul class="footer-list footer-contact mb-sm-0 mb-3">

                        @foreach (var categoryCombo in newestCategoryCombos)
                        {

                            <li>
                                <a href="/Category/@TextExtension.EncodePersianString(categoryCombo.Text)" class="footer-contain-2">
                                    <i class="fas fa-angle-left"></i>@categoryCombo.Text
                                </a>
                            </li>
                        }

                    </ul>
                </div>

                <div class="col-xxl-3 col-xl-4 col-sm-6">
                    <div class="footer-title">
                        <h4>اطلاعات فروشگاه</h4>
                    </div>
                    <ul class="footer-address footer-contact">

                        <li>
                            <a href="javascript:void(0)">
                                <div class="inform-box">
                                    <i data-feather="phone"></i>
                                    <p>تلفن تماس: @Model.Phone1</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <div class="inform-box">
                                    <i data-feather="mail"></i>
                                    <p>ایمیل: @Model.Email1</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <div class="inform-box flex-start-box">
                                    <i data-feather="map-pin"></i>
                                    <p>@Model.Office1</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

       
    </div>
</footer>
<!-- Footer End -->