@using OrganicShop.Domain.Dtos.AddressDtos
@using OrganicShop.Domain.Dtos.BankCardDtos
@using OrganicShop.Domain.Dtos.NewsLetterMemberDtos
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Dtos.ProductItemDtos
@using OrganicShop.Domain.Dtos.UserDtos
@using OrganicShop.BLL.Mappers
@using OrganicShop.Domain.Enums
@model UserProfileDto

@{
    var wishProducts = ViewData["WishProducts"] as List<ProductSummaryDto> ?? new List<ProductSummaryDto>();

    var isMemberOfNewsLetter = ViewData["IsMemberOfNewsLetter"] as bool? ?? false;

    int totalOrdersCount = Model.Orders.Count();
    int totalOrdersWaitingCount = Model.Orders.Count(a => a.OrderStatus == OrderStatus.Waiting);
    int wishProductsCount = wishProducts.Count;
}

@section Breadcrumb {

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>حساب کاربری</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">حساب کاربری</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}

<!-- User Dashboard Section Start -->
<section class="user-dashboard-section section-b-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-3 col-lg-4">
                <div class="dashboard-left-sidebar">
                    <div class="close-button d-flex d-lg-none">
                        <button class="close-sidebar">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="profile-box">
                        <div class="cover-image">
                            <img src="~/site/assets/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyload"
                                 alt="">
                        </div>

                        <div class="profile-contain">
                            <div class="profile-image">
                                <div class="position-relative">
                                    <img src="~/media/images/user/@Model.ProfileImage"
                                         class="blur-up lazyload update_img" alt="">
                                    <div class="cover-icon">
                                        <i class="fa-solid fa-pen">
                                            <input type="file" onchange="readURL(this,0)">
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-name">
                                <h3 class="profile-user-name">@Model.UpdateUser.Name</h3>
                                <h6 class="text-content profile-user-email">@Model.UpdateUser.Email</h6>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-dashboard-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-dashboard" type="button">
                                <i data-feather="home"></i>
                                داشبورد
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-order" type="button">
                                <i data-feather="shopping-bag"></i>سفارشات
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-wishlist-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-wishlist" type="button">
                                <i data-feather="heart"></i>
                                علاقه‌مندی
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-card-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-card" type="button" role="tab">
                                <i data-feather="credit-card"></i> مالی
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-address" type="button" role="tab">
                                <i data-feather="map-pin"></i>آدرس
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-info" type="button" role="tab">
                                <i data-feather="user"></i>
                                پروفایل
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-setting-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-setting" type="button" role="tab">
                                <i data-feather="shield"></i>
                                تنظیمات
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xxl-9 col-lg-8">
                <button class="btn left-dashboard-show btn-animation btn-md fw-bold d-block mb-4 d-lg-none">
                    نمایش
                    منو
                </button>
                <div class="dashboard-right-sidebar">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel">
                            <div class="dashboard-home">
                                <div class="title">
                                    <h2>داشبورد من</h2>
                                    <span class="title-leaf">
                                        <svg class="icon-width bg-gray">
                                            <use xlink:href="~/site/assets/svg/leaf.svg#leaf"></use>
                                        </svg>
                                    </span>
                                </div>

                                <div class="dashboard-user-name">
                                    <h6 class="text-content">سلام, <b class="text-title profile-user-name">@Model.UpdateUser.Name</b></h6>
                                    <p class="text-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                </div>

                                <div class="total-box">
                                    <div class="row g-sm-4 g-3">
                                        <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                            <div class="total-contain">
                                                <img src="~/site/assets/images/svg/order.svg"
                                                     class="img-1 blur-up lazyload" alt="">
                                                <img src="~/site/assets/images/svg/order.svg" class="blur-up lazyload"
                                                     alt="">
                                                <div class="totle-detail">
                                                    <h5>مجموع سفارشات</h5>
                                                    <h3>@totalOrdersCount</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                            <div class="total-contain">
                                                <img src="~/site/assets/images/svg/pending.svg"
                                                     class="img-1 blur-up lazyload" alt="">
                                                <img src="~/site/assets/images/svg/pending.svg" class="blur-up lazyload"
                                                     alt="">
                                                <div class="totle-detail">
                                                    <h5>سفارشات در انتظار</h5>
                                                    <h3>@totalOrdersWaitingCount</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                                            <div class="total-contain">
                                                <img src="~/site/assets/images/svg/wishlist.svg"
                                                     class="img-1 blur-up lazyload" alt="">
                                                <img src="~/site/assets/images/svg/wishlist.svg"
                                                     class="blur-up lazyload" alt="">
                                                <div class="totle-detail">
                                                    <h5>مجموع علاقه‌مندی ها</h5>
                                                    <h3>@wishProductsCount</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboard-title">
                                    <h3>اطلاعات حساب کاربری</h3>
                                </div>

                                <div class="row g-4">
                                    <div class="col-xxl-6">
                                        <div class="dashboard-content-title">
                                            <h4>
                                                اطلاعات اولیه
                                            </h4>
                                        </div>
                                        <div class="dashboard-detail">
                                            <h6 class="text-content profile-user-name">@Model.UpdateUser.Name</h6>
                                            <h6 class="text-content">@Model.UpdateUser.PhoneNumber_readonly</h6>
                                            <h6 class="text-content profile-user-email">@Model.UpdateUser.Email</h6>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6">
                                        <div class="dashboard-content-title">
                                            <h4>
                                                خبرنامه
                                                @if (isMemberOfNewsLetter == false)
                                                {
                                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">درخواست عضویت خبرنامه</a>
                                                }
                                            </h4>
                                        </div>
                                        <div class="dashboard-detail">
                                            @if (isMemberOfNewsLetter)
                                            {
                                                <h6 class="text-content">شما در حال حاضر عضو خبرنامه هستید </h6>
                                            }
                                            else
                                            {
                                                <h6 class="text-content">شما در حال حاضر عضو خبرنامه نیستید!</h6>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-wishlist" role="tabpanel">
                            @await Html.PartialAsync("_Profile-WishlistTab", wishProducts)
                        </div>

                        <div class="tab-pane fade" id="pills-order" role="tabpanel">
                            @await Html.PartialAsync("_Profile-OrderTab", Model.Orders.ToList())
                        </div>

                        <div class="tab-pane fade" id="pills-address" role="tabpanel">
                            @await Html.PartialAsync("_Profile-AddressTab", Model.Addresses.ToList())
                        </div>

                        <div class="tab-pane fade" id="pills-card" role="tabpanel">
                            @await Html.PartialAsync("_Profile-BankCardTab", Model.BankCards.ToList())
                        </div>

                        <div class="tab-pane fade" id="pills-info" role="tabpanel">
                            @await Html.PartialAsync("_Profile-InfoTab", Model.UpdateUser)
                        </div>


                        <div class="tab-pane fade" id="pills-setting" role="tabpanel">
                            @await Html.PartialAsync("_Profile-SettingTab", Model.UpdatePrivacy)
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- User Dashboard Section End -->



<form id="edit-product-wishlist-form" hidden action="/User/EditProductWishList" method="post">
    <input type="number" name="productId" hidden readonly value="0" />
    <input type="number" name="isDelete" hidden readonly value="true" />
</form>
@await Html.PartialAsync("_AddToCartForm", new CreateProductItemDto())

<form hidden id="load-address-tab-form" action="/profile/address" method="get" data-container-id="pills-address">
</form>

<form hidden id="load-address-edit-modal-form" action="/profile/address/0" method="get" data-container-id="edit-address-modal">
</form>

<form hidden id="load-bankCard-tab-form" action="/profile/bankCard" method="get" data-container-id="pills-card">
</form>

<form hidden id="load-bankCard-edit-modal-form" action="/profile/bankCard/0" method="get" data-container-id="edit-bankCard-modal">
</form>

<form hidden id="load-user-info-tab-form" action="/profile/info" method="get" data-container-id="pills-card">
</form>

@section Modals {

    <div class="modal fade theme-modal" id="add-address-modal" tabindex="-1" style=" padding-right: 0px;" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_AddAddressModal", new CreateAddressDto())
    </div>

    <div class="modal fade theme-modal" id="edit-address-modal" tabindex="-1" style=" padding-right: 0px;" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_EditAddressModal", new UpdateAddressDto())
    </div>

    <div class="modal fade theme-modal remove-profile" id="delete-address-modal" tabindex="-1" style="" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">خذف آدرس</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form hidden id="delete-address-form" action="/profile/address/delete" method="post">
                        <input hidden readonly id="delete-address-id-input" name="Id" value="0" />
                    </form>
                    <div class="remove-box">
                        <p>آیا از حذف کردن آدرس با عنوان ' <span id="delete-address-modal-addressTitle"></span> ' اطمینان دارید ؟</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal" id="delete-address-modal-close-button">خیر</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="DeleteAddressSubmit('delete-address-form')">بله</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal" id="add-bankCard-modal" tabindex="-1" style="" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_AddBankCardModal", new CreateBankCardDto())
    </div>

    <div class="modal fade theme-modal" id="edit-bankCard-modal" tabindex="-1" style=" padding-right: 0px;" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_EditBankCardModal", new UpdateBankCardDto())
    </div>

    <div class="modal fade theme-modal remove-profile" id="delete-bankCard-modal" tabindex="-1" style="" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">حذف کارت بانکی</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form hidden id="delete-bankCard-form" action="/profile/bankCard/delete" method="post">
                        <input hidden readonly id="delete-bankCard-id-input" name="Id" value="0" />
                    </form>
                    <div class="remove-box">
                        <p>آیا از حذف کردن کارت بانکی اطمینان دارید ؟</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal" id="delete-bankCard-modal-close-button">خیر</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="DeleteBankCardSubmit('delete-bankCard-form')">بله</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal" id="edit-user-info-modal" tabindex="-1" style=" padding-right: 0px;" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_EditUserInfoModal", Model.UpdateUser)
    </div>

    <div class="modal fade theme-modal" id="change-user-password-modal" tabindex="-1" style="padding-right: 0px;" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_ChangePasswordModal", new ChangePasswordDto())
    </div>

    <div class="modal fade theme-modal remove-profile" id="delete-account-modal" tabindex="-1" style="" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">حذف حساب کاربری</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form hidden id="delete-account-form" action="/profile/delete" method="post">
                    </form>
                    <div class="remove-box">
                        <p>پس از حذف حساب امکان بازگردانی حساب وجود ندارد. آیا ادامه میدهید ؟</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal" id="delete-account-modal-close-button">خیر</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="DeleteAccountSubmit('delete-account-form')">بله</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal" id="subscribe-user-newsLetter-modal" tabindex="-1" style=" padding-right: 0px;" aria-modal="true" role="dialog">
        @*
    @await Html.PartialAsync("_SubscribeUserToNewsLetter", new CreateNewsLetterMemberDto())

    *@
        <partial name="_SubscribeUserNewsLetter" model="new CreateNewsLetterMemberDto(){Email = Model.UpdateUser.Email}"
                 view-data="ViewData" view-data-IsEmailVerified="Model.UpdateUser.IsEmailVerified_readonly" />

    </div>



}

@section Scripts {

    <script src="~/site/views/user/profile.js"></script>
}


