@using OrganicShop.Domain.Dtos.CategoryDtos
@using OrganicShop.Domain.Dtos.Combo
@using OrganicShop.Domain.Dtos.Page
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Entities
@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Enums.SortTypes
@using OrganicShop.Domain.Enums.EnumValues
@model PageDto<Product,ProductSummaryDto,long>
@{
    var categories = ViewData["Categories"] as List<CategoryListDto>;
    var categoryChilds = ViewData["CategoryChilds"] as List<CategoryListDto>;
    var filter = ViewData["FilterProductDto"] as FilterProductDto;
    var paging = ViewData["PagingDto"] as PagingDto;
    string? categoryTitle = ViewBag.CategoryTitle;
    ProductSortType sortBy = filter.SortBy;
    bool IsPageWithCategory = categoryChilds != null;
    var userWihsIds = ViewData["UserWishProductIds"] as long[];
}

@section Breadcrumb{
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2> محصولات : @(!string.IsNullOrEmpty(categoryTitle) ? $"دسته بندی ها : {categoryTitle}" : "")</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Products">محصولات</a>
                                </li>
                                @if (!string.IsNullOrEmpty(categoryTitle))
                                {
                                    <li class="breadcrumb-item active">
                                        <a href="/Category/@TextExtensions.EncodePersianString(categoryTitle)">دسته بندی ها</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        @categoryTitle
                                    </li>
                                }

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if(categoryChilds != null)
{
    <!-- Category Section Start -->
    <section class="wow fadeInUp">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="slider-7_1 no-space shop-box no-arrow">

                        @foreach (var categoryChild in categoryChilds)
                        {
                            <div>
                                <div class="shop-category-box">
                                    <a href="/Products/Category/@TextExtensions.EncodePersianString(categoryChild.Title)">
                                        <div class="shop-category-image">
                                            <i class="@categoryChild.IconClass"
                                               style="color:@(!string.IsNullOrEmpty(categoryChild.IconColor) ? categoryChild.IconColor : "black"); font-size:25px;"></i>
                                        </div>
                                        <div class="category-box-name">
                                            <h6>@categoryChild.Title</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Section End -->
}


<!-- Shop Section Start -->
<section class="section-b-space shop-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-custom-3">
                <div class="left-box wow fadeInUp">
                    <form id="filter-products-form" class="shop-left-sidebar"  method="get"
                          action="/Products/@(IsPageWithCategory ? $"/Category{(!string.IsNullOrEmpty(categoryTitle) ? $"/{TextExtensions.EncodePersianString(categoryTitle)}" : "")}" : "")">
                        <input id="pageNumber-input" value="1" type="number" hidden name="paging.PageNumber"/>
                        
                        <div class="back-button">
                            <h3><i class="fa-solid fa-arrow-right"></i> بازگشت</h3>
                        </div>

                        <div class="filter-category">
                            <div class="filter-title">
                                <h2>فیلتر</h2>
                                <a>حذف فیلتر</a>
                            </div>
                            <div class="filter-remove" >
                                @if(filter.MinPrice != null && filter.MinPrice > 0)
                                {
                                    <div style="">
                                        <i onclick="RemoveMinPriceFilter()" class="fa-solid fa-xmark"></i>
                                        <span>حداقل قیمت: @filter.MinPrice.Value.ToMoney()</span>
                                    </div>
                                }
                                @if (filter.MaxPrice != null && filter.MaxPrice < 10_000_000)
                                {
                                    <div style="">
                                        <i onclick="RemoveMaxPriceFilter()" class="fa-solid fa-xmark"></i>
                                        <span>حداکثر قیمت: @filter.MaxPrice.Value.ToMoney()</span>
                                    </div>
                                }
                                @if(filter.Rate != null)
                                {
                                    <div style="">
                                        <i onclick="RemoveRateFilter()" class="fa-solid fa-xmark"></i>
                                        <span>امتیاز: @filter.Rate.Value</span>
                                    </div>
                                }
                                @if(filter.CategoryIds != null)
                                {
                                    @foreach (var category in categories.IntersectBy(filter.CategoryIds , a => a.Id))
                                    {
                                        <div style="">
                                            <i onclick="RemoveCategoryFilter('@category.Id')" class="fa-solid fa-xmark"></i>
                                            <span>@category.Title</span>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <div class="accordion custom-accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne">
                                        <span>دسته ها</span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-floating theme-form-floating-2 search-box">
                                            <input type="search" class="form-control" id="search"
                                                   placeholder="جستجو ..">
                                            <label for="search">جستجو</label>
                                        </div>

                                        <ul class="category-list custom-padding custom-height">
                                            
                                            @foreach (var category in categories)
                                            {
                                                if(filter.CategoryIds != null)
                                                {
                                                    <li>
                                                        <div class="form-check ps-0 m-0 category-list-box">
                                                            <input onchange="ChangeCategoryCheckbox(event)" id="category-id-@category.Id" name="filter.CategoryIds" value="@category.Id"
                                                                   checked="@(filter.CategoryIds.Any(a => a == category.Id))" class="checkbox_animated" type="checkbox">
                                                            <label class="form-check-label" for="fruit">
                                                                <span class="name">@category.Title</span>
                                                                <span class="number">(@category.ProductsCount)</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <div class="form-check ps-0 m-0 category-list-box">
                                                            <input onchange="SubmitOnChange(event)" id="category-id-@category.Id" name="filter.CategoryIds" value="@category.Id" class="checkbox_animated" type="checkbox">
                                                            <label class="form-check-label" for="fruit">
                                                                <span class="name">@category.Title</span>
                                                                <span class="number">(@category.ProductsCount)</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                        <span>قیمت</span>
                                    </button>
                                </h2>
                                @{
                                    int minPrice = filter.MinPrice != null ? filter.MinPrice.Value : 0;
                                    int maxPrice = filter.MaxPrice != null ? filter.MaxPrice.Value : 10_000_000;
                                }
                                <div id="collapseThree" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-group mb-2 row">
                                            <label class="form-lable col-12">حداقل قیمت</label>
                                            <input type="range" class="form-contorl col-8" min="0" max="10000000" 
                                                name="filter.MinPrice" value="@(minPrice)" step="1000" />
                                            <span class="col-4" id="minPrice-value">@minPrice.ToMoney()</span>
                                        </div>
                                        <div class="form-group mb-2 row">
                                            <label class="form-lable col-12">حداکثر قیمت</label>
                                            <input type="range" class="form-contorl col-8" name="filter.MaxPrice" min="@minPrice"
                                                   max="10000000" value="@maxPrice" step="1000" />
                                            <span class="col-4" id="maxPrice-value">@maxPrice.ToMoney()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSix">
                                        <span>امتیاز</span>
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <ul class="category-list custom-padding">
                                            @{
                                                int j = 1;
                                                int rate = filter.Rate != null ? filter.Rate.Value : 0;
                                            }
                                            @for (int i = 5; i >= 1; i--)
                                            {
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <input onchange="ChangeRateCheckbox(event)" class="checkbox_animated" name="filter.Rate" value="@i"
                                                            type="checkbox" checked="@(rate == i)">
                                                        <div class="form-check-label">
                                                            <ul class="rating">
                                                                @for (j = 1 ; j <= i; j++)
                                                                {
                                                                    <li>
                                                                        <i data-feather="star" class="fill"></i>
                                                                    </li>
                                                                }
                                                                @for (j = j; j <= 5; j++)
                                                                {
                                                                    <li>
                                                                        <i data-feather="star"></i>
                                                                    </li>
                                                                }
                                                            </ul>
                                                            <span class="text-content">(@i ستاره)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input hidden name="filter.SortBy" value="@sortBy"/>
                        <button type="submit" hidden></button>
                    </form>
                </div>
            </div>

            <div class="col-custom-">
                <div class="show-button">
                    <div class="filter-button-group mt-0">
                        <div class="filter-button d-inline-block d-lg-none">
                            <a><i class="fa-solid fa-filter"></i> منوی فیلتر</a>
                        </div>
                    </div>

                    <div class="top-filter-menu">
                        <div class="category-dropdown">
                            <h5 class="text-content">مرتب سازی بر اساس :</h5>
                            <div class="dropdown">
                                <select class="form-select" onchange="ChangeSortSelect(event)" style="background-color:#eee;">
                                    <option value="@ProductSortType.None" selected>پیشفرض</option>
                                    <option selected="@(sortBy == ProductSortType.Newest)" value="@ProductSortType.Newest">جدید ترین</option>
                                    <option selected="@(sortBy == ProductSortType.Price)" value="@ProductSortType.Price">کمترین قیمت </option>
                                    <option selected="@(sortBy == ProductSortType.PriceDesc)" value="@ProductSortType.PriceDesc">بیشترین قیمت</option>
                                    <option selected="@(sortBy == ProductSortType.RateDesc)" value="@ProductSortType.RateDesc">امتیاز</option>
                                    <option selected="@(sortBy == ProductSortType.Title)" value="@ProductSortType.Title">حروف الفبا</option>
                                    <option selected="@(sortBy == ProductSortType.TitleDesc)" value="@ProductSortType.TitleDesc">حروف الفبا برعکس</option>
                                    <option selected="@(sortBy == ProductSortType.DiscountDesc)" value="@ProductSortType.DiscountDesc">بیشترین تخفیف</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-sm-4 g-3 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-2 product-list-section">

                    @foreach (var item in Model.List)
                    {
                        <partial name="_ProductBox" model="item" view-data="ViewData" view-data-UserWishProductIds="userWihsIds" view-data-RemoveButton="false" />
                    }

                </div>

                <partial name="_PagerPartial" model="Model.Pager" view-data="ViewData" view-data-formId="@("filter-products-form")" />

            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<form id="add-to-cart-form" hidden action="/Cart/AddProduct" onsubmit="FetchRequest(event)" method="post">
    <input type="number" id="add-to-cart-form-productId" name="createProductItem.ProductId" hidden readonly value="" />
    <input type="number" id="add-to-cart-form-productVarientId" name="createProductItem.ProductVarientId" hidden readonly value="" />
    <input type="number" id="add-to-cart-form-count" name="createProductItem.Count" hidden readonly value="" />
    <button type="submit" hidden></button>
</form>
<form id="preview-product-modal-request-form" hidden action="/Product/Preview" onsubmit="FetchRequest(event)" method="post" data-target-id="preview-product-modal">
    <input type="number" name="id" hidden readonly value="0" />
    <button type="submit" hidden></button>
</form>
<form id="edit-product-wishlist-form" hidden action="/User/EditProductWishList" method="post">
    <input type="number" name="productId" hidden readonly value="0" />
</form>

@section Modals {

    @await Html.PartialAsync("_PreviewProductModal",default(ProductSummaryDto));

}

@section Scripts{

    <!-- Price Range Js -->
    <script src="~/site/assets/js/ion.rangeSlider.min.js"></script>

    <script src="~/site/views/product/index.js"></script>

    <partial name="_ValidationScriptsPartial" />
}