@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.CommentDtos
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Dtos.ProductItemDtos
@using OrganicShop.Domain.Entities
@using OrganicShop.Domain.Enums.EnumValues
@model ProductDetailDto
@{
    var similarProducts = ViewData["SimilarProducts"] as List<ProductSummaryDto>;
    if (Model.Varients != null)
    {
        Model.Varients = Model.Varients.OrderByDescending(a => a.Stock).ToArray();
    }
    else
    {
        Model.Varients = new ProductVarient[0];
    }
    float commentsRatingAverage = Model.Comments.Any() ? (float)Model.Comments.Sum(a => a.Rate) / (float)Model.Comments.Count : 0;
    float commentsCount = Model.Comments.Count;
    var firstProductVarient = Model.Varients.FirstOrDefault();
    var IsAvailable = Model.Stock > 0;
    var userWihsIds = ViewData["UserWishProductIds"] as long[];
}


@section Breadcrumb {

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>محصولات : @Model.Title</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Products">محصولات</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @Model.Title
                                </li>


                                @*
                            <li class="breadcrumb-item">
                            <a href="/">
                            <i class="fa-solid fa-house"></i>
                            </a>
                            </li>
                            <li>
                            <a href="/Products">محصولات</a>
                            </li>
                            <li class="breadcrumb-item active">@Model.Title</li>
                            *@
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}

<!-- Product Left Sidebar Start -->
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                <div class="row g-4">
                    <div class="col-xl-6 wow fadeInUp">
                        <div class="product-left-box">
                            <div class="row g-sm-4 g-2">
                                <div class="col-12">
                                    <div class="product-main no-arrow">
                                        @{
                                            byte imageIndex = 0;
                                        }
                                        @foreach (var imageName in Model.ImageNames)
                                        {
                                            <div>
                                                <div class="slider-image">
                                                    <img src="~/media/images/product/@imageName" id="img-1"
                                                         data-zoom-image="~/media/images/product/@imageName" c
                                                         lass="img-fluid image_zoom_cls-@imageIndex blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                            imageIndex++;
                                        }
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="left-slider-image left-slider no-arrow slick-top">
                                        @foreach (var imageName in Model.ImageNames)
                                        {
                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="~/media/images/product/@imageName"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 wow fadeInUp">
                        <div class="right-box-contain">
                            @if (Model.Discount != null)
                            {
                                if (Model.Discount.Price != null)
                                {
                                    <h6 class="offer-top">@Model.Discount.Price.Value.ToToman() تخفیف</h6>
                                }
                                else
                                {
                                    <h6 class="offer-top">@Model.Discount.Percent % تخفیف</h6>
                                }
                            }
                            <h2 class="name">@Model.Title</h2>
                            <div class="price-rating">
                                @if (Model.DiscountedPrice != null)
                                {
                                    <h3 class="theme-color price" id="product-price-container" data-product-has-discount="true">
                                        @Model.DiscountedPrice.Value.ToToman()
                                        <del class="text-content">@Model.Price.ToMoney()</del>
                                        <span class="offer theme-color">
                                            (@(Model.Discount.Price != null ? Model.Discount.Price.Value.ToMoney() : $"{Model.Discount.Percent}%") تخفیف)
                                        </span>
                                    </h3>
                                }
                                else
                                {
                                    <h3 class="theme-color price" id="product-price-container">
                                        @Model.Price.ToToman()
                                    </h3>
                                }

                                <div class="product-rating custom-rate">
                                    <ul class="rating" style="display:flex; flex-direction:row-reverse;">
                                        @{
                                            int i = 0;
                                            float decimalValue = (commentsRatingAverage * 10) % 10;
                                            for (i = 0; i < float.Floor(commentsRatingAverage); i++)
                                            {
                                                <li>
                                                    <i style="color:#ffb321; font-size:18px;" class="fa-solid fa-star"></i>
                                                </li>

                                            }
                                            if (decimalValue >= 5)
                                            {
                                                <li>
                                                    <i style="color:#ffb321; font-size:18px;" class="fa-solid fa-star-half-stroke"></i>
                                                </li>
                                                for (int j = 5 - i - 1; j >= 1; j--)
                                                {
                                                    <li>
                                                        <i style="color:#ffb321; font-size:18px;" class="fa-regular fa-star"></i>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                for (int j = 5 - i; j >= 1; j--)
                                                {
                                                    <li>
                                                        <i style="color:#ffb321; font-size:18px;" class="fa-regular fa-star"></i>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                    <span> @commentsCount بازخورد</span>
                                </div>
                            </div>

                            <div class="product-contain">
                                <p class="w-100">@Model.ShortDescription</p>
                            </div>

                            @if (Model.Varients.Any())
                            {
                                @if (IsAvailable)
                                {
                                    <div class="product-package">
                                        <div class="product-title">
                                            <h4>@Model.Varients[0].Type.ToStringValue()</h4>
                                        </div>

                                        <ul class="rectangle select-package">

                                            @if (firstProductVarient != null)
                                            {
                                                <li class="form-check">
                                                    <input class="form-check-input product-varient-radio" type="radio" disabled="@(firstProductVarient.Stock < 1)" checked
                                                           data-product-varient-id="@firstProductVarient.Id" data-product-varient-stock="@firstProductVarient.Stock">
                                                    <label class="form-check-label" for="small">
                                                        <span>@firstProductVarient.Value</span>
                                                    </label>
                                                </li>
                                            }
                                            @foreach (var productVarient in Model.Varients.Skip(1))
                                            {
                                                <li class="form-check">
                                                    <input class="form-check-input product-varient-radio" type="radio" disabled="@(productVarient.Stock < 1)"
                                                           data-product-varient-id="@productVarient.Id" data-product-varient-stock="@productVarient.Stock">
                                                    <label class="form-check-label" for="small">
                                                        <span>@productVarient.Value</span>
                                                    </label>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var productVarient in Model.Varients)
                                    {
                                        <li class="form-check disabled">
                                            <input class="form-check-input product-varient-radio" type="radio" disabled
                                                   data-product-varient-id="@productVarient.Id" data-product-varient-stock="@productVarient.Stock">
                                            <label class="form-check-label" for="small">
                                                <span>@productVarient.Value</span>
                                            </label>
                                        </li>
                                    }
                                }
                            }

                            @if (Model.Discount != null)
                            {
                                if (Model.Discount.StartDate > DateTime.Now && Model.Discount.EndDate > DateTime.Now && IsAvailable == true)
                                {
                                    <div class="time deal-timer product-deal-timer mx-md-0 mx-auto" id="clockdiv-1"
                                         data-hours="1" data-minutes="2" data-seconds="3" data-deadline="@(Model.Discount.EndDate.Value)">
                                        <div class="product-title">
                                            <h4>عجله کنید! زمان محدود است</h4>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="counter d-block">
                                                    <div class="seconds d-block">
                                                        <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Seconds)</h5>
                                                    </div>
                                                    <h6>ثانیه</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="counter d-block">
                                                    <div class="minutes d-block">
                                                        <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Minutes)</h5>
                                                    </div>
                                                    <h6>دقیقه</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="counter d-block">
                                                    <div class="hours d-block">
                                                        <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Hours)</h5>
                                                    </div>
                                                    <h6>ساعت</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="counter d-block">
                                                    <div class="days d-block">
                                                        <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Days)</h5>
                                                    </div>
                                                    <h6>روز</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }


                            <div class="note-box product-package">
                                <div class="cart_qty qty-box product-qty">
                                    <div class="input-group">
                                        <button type="button" class="qty-left-minus" data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input id="product-main-quantity-0" class="form-control input-number qty-input" type="text" value="0" max="@Model.Stock">
                                        <button type="button" class="qty-right-plus" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                @*
                                <form id="add-product-to-cart-form" class="cart_qty qty-box product-qty" action="/Product/AddToCart"
                                method="post" onsubmit="FetchRequest(event)">
                                <input name="createProductItem.ProductId" value="@Model.Id" hidden readonly />
                                <input name="createProductItem.ProductVarientId" value="@(firstProductVarient != null ? firstProductVarient.Id : null)" hidden readonly />
                                <div class="input-group">
                                <div class="input-group">
                                <button type="button" id="product-cart-count-minus" disabled="@(!IsAvailable)">
                                <i class="fa fa-minus"></i>
                                </button>
                                <input class="form-control" name="createProductItem.Count" type="text" value="1"
                                max="@(firstProductVarient == null ? Model.Stock : firstProductVarient.Stock)">
                                <button type="button" id="product-cart-count-plus" disabled="@(!IsAvailable)">
                                <i class="fa fa-plus"></i>
                                </button>
                                </div>
                                </div>
                                <button type="submit" hidden></button>
                                </form>
                                *@
                                <button type="button" id="add-product-to-cart-button" onclick="AddProductToCart('@Model.Id' , null , 0 , 'product-main-quantity-0')"
                                        class="btn btn-md bg-dark cart-button text-white w-100" disabled="@(!IsAvailable)">
                                    افزودن به سبد خرید
                                </button>
                            </div>


                            @if (userWihsIds.Contains(Model.Id))
                            {
                                <div class="buy-box">
                                    <a role="button" class="notifi-wishlist" data-iswish="true" onclick="EditProductInWishList(event,'@Model.Id')">
                                        <i class="fa-solid fa-heart" style="color: #e14141; font-size:18px;"></i>
                                        <span>علاقه‌مندی‌ها</span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="buy-box">
                                    <a role="button" class="notifi-wishlist" data-iswish="false" onclick="EditProductInWishList(event,'@Model.Id')">
                                        <i class="fa-regular fa-heart" style="color: #7c7e7e; font-size:18px;"></i>
                                        <span>علاقه‌مندی‌ها</span>
                                    </a>
                                </div>
                            }
                            <div class="pickup-box">
                                <div class="product-info">
                                    <ul class="product-info-list product-info-list-2">
                                        @foreach (var property in Model.Properties)
                                        {
                                            <li>@property.Title : <a href="javascript:void(0)">@property.Value</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="payment-option">
                                <div class="product-title">
                                    <h4>پرداخت ایمن با : </h4>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/site/assets/images/product/payment/1.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/site/assets/images/product/payment/2.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/site/assets/images/product/payment/3.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/site/assets/images/product/payment/4.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/site/assets/images/product/payment/5.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.SellerInfo != null)
            {
                <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                    <div class="right-sidebar-box">
                        <div class="vendor-box">
                            <div class="vendor-contain">
                                <div class="vendor-image">
                                    <img src="~/media/images/seller/@Model.SellerInfo.Value.ImageName" class="blur-up lazyload" alt="">
                                </div>

                                <div class="vendor-name">
                                    <h5 class="fw-500">@Model.SellerInfo.Value.Title</h5>


                                    <div class="product-rating mt-1">
                                        @await Html.PartialAsync("_RatingPartial", Model.SellerInfo.Value.CommentsRate)

                                        <span>(@(Model.SellerInfo.Value.CommentsCount) دیدگاه)</span>
                                    </div>

                                </div>
                            </div>

                            <p class="vendor-detail">@Model.SellerInfo.Value.Description</p>

                            <div class="vendor-list">
                                <ul>
                                    <li>
                                        <div class="address-contact">
                                            <i data-feather="map-pin"></i>
                                            <h5>آدرس : <span class="text-content">@Model.SellerInfo.Value.AddressText</span></h5>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="address-contact">
                                            <i data-feather="headphones"></i>
                                            <h5>شماره تماس : <span class="text-content">@Model.SellerInfo.Value.Phone</span></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>
<!-- Product Left Sidebar End -->
<!-- Nav Tab Section Start -->
<section>
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="product-section-box m-0">
                    <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab">
                                توضیحات
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                                    type="button" role="tab">
                                ویژگی محصول
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab">
                                بازخورد
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content custom-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="product-description">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>

                        <div class="tab-pane fade" id="info" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table info-table">
                                    <tbody>
                                        @foreach (var property in Model.Properties)
                                        {
                                            <tr>
                                                <td>@property.Title</td>
                                                <td>@property.Value</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="review" role="tabpanel">
                            <div class="review-box">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <div class="product-rating-box">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="product-main-rating">
                                                        <h2>
                                                            @commentsRatingAverage.ToString("0.00")
                                                            <i data-feather="star"></i>
                                                        </h2>

                                                        <h3>از 5</h3>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12">
                                                    @{
                                                        int RateCount1 = Model.Comments.Where(a => a.Rate == 1).Count();
                                                        int RateCount2 = Model.Comments.Where(a => a.Rate == 2).Count();
                                                        int RateCount3 = Model.Comments.Where(a => a.Rate == 3).Count();
                                                        int RateCount4 = Model.Comments.Where(a => a.Rate == 4).Count();
                                                        int RateCount5 = Model.Comments.Where(a => a.Rate == 5).Count();
                                                    }
                                                    <ul class="product-rating-list">
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>5<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: @(commentsCount > 0 ? $"{RateCount5 / commentsCount * 100}%" : "0%");">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">@RateCount5</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>4<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: @(commentsCount > 0 ? $"{RateCount4 / commentsCount * 100}%" : "0%");">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">@RateCount4</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>3<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: @(commentsCount > 0 ? $"{RateCount3 / commentsCount * 100}%" : "0%");">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">@RateCount3</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>2<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: @(commentsCount > 0 ? $"{RateCount2 / commentsCount * 100}%" : "0%");">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">@RateCount2</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>1<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: @(commentsCount > 0 ? $"{RateCount1 / commentsCount * 100}%" : "0%");">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">@RateCount1</h5>
                                                            </div>
                                                        </li>

                                                    </ul>

                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <div class="review-title-2">
                                                            <h4 class="fw-bold">بازخورد این محصول</h4>
                                                            <p>با ثبت بازخورد خود در خرید دیگران راهنمایی خوبی باشید</p>
                                                            <button class="btn" type="button" data-bs-toggle="modal"
                                                                    data-bs-target="#writereview">
                                                                ثبت دیدگاه جدید
                                                            </button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-7">
                                        <div class="review-people">
                                            <ul class="review-list">

                                                @foreach (var comment in Model.Comments.OrderByDescending(a => a.Date))
                                                {
                                                    <li>
                                                        <div class="people-box">
                                                            <div>
                                                                <div class="people-image people-text">
                                                                    <img alt="user" class="img-fluid " src="~/media/images/user/@comment.AuthorImageName">
                                                                </div>
                                                            </div>
                                                            <div class="people-comment">
                                                                <div class="people-name">
                                                                    <a href="javascript:void(0)" class="name">@comment.AuthorName</a>
                                                                    <div class="date-time">
                                                                        <h6 class="text-content">
                                                                            @comment.Date.ToShortDateTimeString()
                                                                        </h6>
                                                                        <div class="product-rating">
                                                                            @await Html.PartialAsync("_RatingPartial", (float)comment.Rate)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="reply">
                                                                    <p>@comment.Text</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nav Tab Section End -->
<!-- Related Product Section Start -->
<section class="product-list-section section-b-space">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>محصولات مرتبط</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-6_1 product-wrapper">

                    @foreach (var similarProduct in similarProducts)
                    {
                        <partial name="_ProductBox" model="similarProduct" view-data="ViewData" view-data-UserWishProductIds="userWihsIds" view-data-RemoveButton="false" />
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->
<!-- Sticky Cart Box Start -->
<div class="sticky-bottom-cart">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="cart-content">
                    <div class="product-image">
                        <img src="~/media/images/product/@Model.MainImageName" class="img-fluid blur-up lazyload"
                             alt="">
                        <div class="content">
                            <h5>@Model.Title</h5>
                            @if (Model.DiscountedPrice != null)
                            {
                                <h6>
                                    @Model.DiscountedPrice.Value.ToToman()
                                    <del class="text-danger">@Model.Price.ToMoney()</del>
                                    <span>@(Model.Discount.Price != null ? $"{Model.Discount.Price.Value.ToMoney()}" : $"{Model.Discount.Percent.Value}%") تخفیف</span>
                                </h6>
                            }
                            else
                            {
                                <h6>@Model.Price.ToMoney()</h6>
                            }
                        </div>
                    </div>
                    <div class="selection-section">
                        @if (Model.Varients.Any())
                        {
                            <div class="form-group mb-0">
                                <select id="product-varient-select" required class="form-control form-select" disabled="@(!IsAvailable)">
                                    <option selected disabled>انتخاب @(firstProductVarient.Type.ToStringValue()) ...</option>
                                    @foreach (var productVarient in Model.Varients)
                                    {
                                        <option value="@productVarient.Id" data-product-varient-stock="@productVarient.Stock">@productVarient.Value</option>
                                    }
                                </select>
                            </div>
                        }

                        <div class="cart_qty qty-box product-qty m-0">
                            <div class="input-group h-100">
                                <button type="button" class="qty-left-minus" data-type="minus" data-field="">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input id="product-main-quantity-1" class="form-control input-number qty-input" max="@Model.Stock" type="text" value="0">
                                <button type="button" class="qty-right-plus" data-type="plus" data-field="">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        @*   <form id="stick-add-product-to-cart-form" class="cart_qty qty-box product-qty m-0">
                        <input name="createProductItem.ProductId" value="@Model.Id" hidden readonly />
                        <input name="createProductItem.ProductVarientId" value="@(firstProductVarient != null ? firstProductVarient.Id : null)" hidden readonly />
                        <div class="input-group h-100">
                        <button type="button" class="qty-left-minus" id="stick-product-cart-count-minus" disabled="@(!IsAvailable)">
                        <i class="fa fa-minus"></i>
                        </button>
                        <input class="form-control" name="createProductItem.Count" type="text" value="1" min="0"
                        max="@(firstProductVarient == null ? Model.Stock : firstProductVarient.Stock)">
                        <button type="button" class="qty-right-plus" id="stick-product-cart-count-plus" disabled="@(!IsAvailable)">
                        <i class="fa fa-plus"></i>
                        </button>
                        </div>
                        <button type="submit" hidden></button>
                        </form> *@
                    </div>
                    <div class="add-btn">
                        <button class="btn theme-bg-color text-white" onclick="AddProductToCart('@Model.Id' , null , 0 , 'product-main-quantity-1')" disabled="@(!IsAvailable)">
                            <i class="fas fa-shopping-cart"></i> افزودن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sticky Cart Box End -->





<form id="preview-product-modal-request-form" hidden action="/Product/Preview" method="post" data-container-id="preview-product-modal">
    <input type="number" name="id" hidden readonly value="0" />
</form>

@await Html.PartialAsync("_EditProductWishListForm")

@await Html.PartialAsync("_AddToCartForm", new CreateProductItemDto())

@section Modals {

    <div class="modal fade theme-modal view-modal" id="preview-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @await Html.PartialAsync("_PreviewProductModal", new ProductSummaryDto())
    </div>

    <partial name="_AddCommentModal" model="new CreateCommentUserDto(){ProductId = Model.Id}" view-data="ViewData"
             view-data-ProductImageName="Model.MainImageName" view-data-ProductTitle="Model.Title" />
}

@section Scripts {

    <script src="~/site/views/product/product.js"></script>

    <partial name="_ValidationScriptsPartial" />

}
