@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Enums.EnumValues
@model ProductDetailDto
@{
    float commentsRatingAverage = Model.Comments.Any() ? (float)Model.Comments.Sum(a => a.Rate) / (float)Model.Comments.Count : 0;
}


@section Breadcrumb {

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>@Model.Title : محصولات</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Products">محصولات</a>
                                </li>
                                <li class="breadcrumb-item active">@Model.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}
@if (Model.Discount != null)
{
    <div id="product-discount-div">
        <input type="text" id="product-discount-isFix" value="@(Model.Discount.IsFixDiscount)" hidden readonly disabled />>
        <input type="number" id="product-discount-fixValue" value="@(Model.Discount.FixValue)" hidden readonly disabled />>
        <input type="number" id="product-discount-percent" value="@(Model.Discount.Percent)" hidden readonly disabled />>
    </div>
}
<input type="number" id="product-main-price" value="@(Model.Discount.Percent)" hidden readonly disabled />>


<!-- Product Left Sidebar Start -->
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                <div class="row g-4">
                    <div class="col-xl-6 wow fadeInUp">
                        <div class="product-left-box">
                            <div class="row g-sm-4 g-2">
                                <div class="col-12">
                                    <div class="product-main no-arrow">
                                        @{
                                            byte imageIndex = 0;
                                        }
                                        @foreach (var imageName in Model.ImageNames)
                                        {
                                            <div>
                                                <div class="slider-image">
                                                    <img src="~/media/images/product/@imageName" id="img-1"
                                                         data-zoom-image="~/media/images/product/@imageName" c
                                                         lass="img-fluid image_zoom_cls-@imageIndex blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                            imageIndex++;
                                        }
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="left-slider-image left-slider no-arrow slick-top">
                                        @foreach (var imageName in Model.ImageNames)
                                        {
                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="~/media/images/product/@imageName"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 wow fadeInUp">
                        <div class="right-box-contain">
                            @if (Model.Discount != null)
                            {
                                if (Model.Discount.IsFixDiscount)
                                {
                                    <h6 class="offer-top">@Model.Discount.FixValue.Value.ToToman() تخفیف</h6>
                                }
                                else
                                {
                                    <h6 class="offer-top">@Model.Discount.Percent % تخفیف</h6>
                                }
                            }
                            <h2 class="name">@Model.Title</h2>
                            <div class="price-rating">
                                @if (Model.DiscountedPrice != null)
                                {
                                    <h3 class="theme-color price" id="product-price-container" data-product-has-discount="true">
                                        @Model.DiscountedPrice.Value.ToToman()
                                        <del class="text-content">@Model.Price.ToMoney()</del>
                                        <span class="offer theme-color">
                                            (@(Model.Discount.IsFixDiscount ? Model.Discount.FixValue.Value.ToMoney() : $"{Model.Discount.Percent}%") تخفیف)
                                        </span>
                                    </h3>
                                }
                                else
                                {
                                    <h3 class="theme-color price" id="product-price-container">
                                        @Model.Price.ToToman()
                                    </h3>
                                }

                                <div class="product-rating custom-rate">

                                    @await Html.PartialAsync("_ProductRating", commentsRatingAverage)

                                    <span>(@(commentsRatingAverage.ToString("0.0"))) بازخورد</span>
                                </div>
                            </div>

                            <div class="product-contain">
                                <p class="w-100">@Model.ShortDescription</p>
                            </div>

                            @if (Model.Varients.Any())
                            {
                                <div class="product-package">
                                    <div class="product-title">
                                        <h4>@Model.Varients[0].Type.ToStringValue()</h4>
                                    </div>

                                    <ul class="rectangle select-package">

                                        @{
                                            byte productVarientIndex = 0;
                                        }
                                        @foreach (var productVarient in Model.Varients)
                                        {
                                            @if (productVarientIndex == 0)
                                            {
                                                <li class="form-check">
                                                    <input class="form-check-input product-varient-radio" type="radio" checked
                                                           data-product-varient-price="@(productVarient.Price ?? 0)" data-product-varient-stock="@productVarient.Stock">
                                                    <label class="form-check-label" for="small">
                                                        <span>@productVarient.Value</span>
                                                    </label>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="form-check">
                                                    <input class="form-check-input product-varient-radio" type="radio"
                                                           data-product-varient-price="@(productVarient.Price ?? 0)" data-product-varient-stock="@productVarient.Stock">
                                                    <label class="form-check-label" for="small">
                                                        <span>@productVarient.Value</span>
                                                    </label>
                                                </li>
                                            }
                                            productVarientIndex++;
                                        }

                                    </ul>
                                </div>
                            }

                            @if(Model.Discount.StartDate > DateTime.Now)
                            {
                                <div class="time deal-timer product-deal-timer mx-md-0 mx-auto" id="clockdiv-1"
                                     data-hours="1" data-minutes="2" data-seconds="3" data-deadline="@(Model.Discount.EndDate.Value)">
                                    <div class="product-title">
                                        <h4>عجله کنید! زمان محدود است</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="seconds d-block">
                                                    <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Seconds)</h5>
                                                </div>
                                                <h6>ثانیه</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="minutes d-block">
                                                    <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Minutes)</h5>
                                                </div>
                                                <h6>دقیقه</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="hours d-block">
                                                    <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Hours)</h5>
                                                </div>
                                                <h6>ساعت</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="days d-block">
                                                    <h5>@(Model.Discount.EndDate.Value.Subtract(DateTime.Now).Days)</h5>
                                                </div>
                                                <h6>روز</h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            }


                            <div class="note-box product-package">
                                <div class="cart_qty qty-box product-qty">
                                    <div class="input-group">
                                        <button type="button" class="qty-left-minus" data-type="minus"
                                                data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input class="form-control input-number qty-input" type="text"
                                               name="quantity" value="1">
                                        <button type="button" class="qty-right-plus" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>

                                <button onclick="location.href = 'cart.html';"
                                        class="btn btn-md bg-dark cart-button text-white w-100">
                                    افزودن به سبد خرید
                                </button>
                            </div>

                            <div class="buy-box">
                                <a href="wishlist.html">
                                    <i data-feather="heart"></i>
                                    <span>علاقه‌مندی‌ها</span>
                                </a>

                                <a href="compare.html">
                                    <i data-feather="shuffle"></i>
                                    <span>مقایسه</span>
                                </a>
                            </div>

                            <div class="pickup-box">
                                <div class="product-title">
                                    <h4>اطلاعات فروشگاه</h4>
                                </div>

                                <div class="pickup-detail">
                                    <h4 class="text-content w-100">کیک آب نبات چوبی کیک شکلاتی کیک شکلاتی دسر عناب. شیرینی کوتاه آلو شکر پودر دسر کوکی براونی شیرین.</h4>
                                </div>

                                <div class="product-info">
                                    <ul class="product-info-list product-info-list-2">
                                        <li>نوع : <a href="javascript:void(0)">میوه</a></li>
                                        <li>تاریخ : <a href="javascript:void(0)">1403/02/02</a></li>
                                        <li>موجودی : <a href="javascript:void(0)">5 </a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="payment-option">
                                <div class="product-title">
                                    <h4>پرداخت ایمن با : </h4>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/product/payment/1.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/product/payment/2.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/product/payment/3.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/product/payment/4.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/product/payment/5.svg"
                                                 class="blur-up lazyload" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                <div class="right-sidebar-box">
                    <div class="vendor-box">
                        <div class="vendor-contain">
                            <div class="vendor-image">
                                <img src="../assets/images/product/vendor.png" class="blur-up lazyload" alt="">
                            </div>

                            <div class="vendor-name">
                                <h5 class="fw-500">فارس کد</h5>

                                <div class="product-rating mt-1">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span>(36 دیدگاه)</span>
                                </div>

                            </div>
                        </div>

                        <p class="vendor-detail">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>

                        <div class="vendor-list">
                            <ul>
                                <li>
                                    <div class="address-contact">
                                        <i data-feather="map-pin"></i>
                                        <h5>آدرس : <span class="text-content">تهران برج میلاد</span></h5>
                                    </div>
                                </li>

                                <li>
                                    <div class="address-contact">
                                        <i data-feather="headphones"></i>
                                        <h5>شماره تماس : <span class="text-content">(+1)-123-456-789</span></h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pt-25">
                        <div class="hot-line-number">
                            <h5>برقراری اتباط با تولید کننده ::</h5>
                            <h6>شنبه - جمعه: 07:00 صبح - 08 عصر</h6>
                            <h3>(+1) 123 456 789</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Left Sidebar End -->
<!-- Nav Tab Section Start -->
<section>
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="product-section-box m-0">
                    <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab">
                                توضیحات
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                                    type="button" role="tab">
                                اطلاعات محصول
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="care-tab" data-bs-toggle="tab" data-bs-target="#care"
                                    type="button" role="tab">
                                ویژگی محصول
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab">
                                بازخورد
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content custom-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="product-description">
                                <div class="nav-desh">
                                    <p>
                                        کیک هویج ژله ای کیک بیسکویت جو دوسر کیک گومی خرس تارت. پودینگ کیک هویج
                                        قطره لیمو خرس شیرین گومی. شکلات تارت کیک شکلاتی کیک کیک دونات شیرین بیان آلو
                                        شکر. لوبیا ژله تیرامیسو کارامل عناب بیسکویت شیرین بیان شکلات. پودینگ تافی
                                        عناب کیک جو دوسر رول شیرین. رویه حلوای براونی رول کروسان دسر قطره لیمو.
                                        آب نبات پودر گل ختمی، کنجد، ژله لوبیا، نبات، پای شیرینی زنجبیلی.
                                    </p>
                                </div>

                                <div class="nav-desh">
                                    <div class="desh-title">
                                        <h5>اورگانیک :</h5>
                                    </div>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                        و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                                        الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                                        امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                                        پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی
                                        سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                    </p>
                                </div>

                                <div class="banner-contain nav-desh">
                                    <img src="../assets/images/vegetable/banner/14.jpg"
                                         class="bg-img blur-up lazyload" alt="">
                                    <div class="banner-details p-center banner-b-space w-100 text-center">
                                        <div>
                                            <h6 class="ls-expanded theme-color mb-sm-3 mb-1">تابستان</h6>
                                            <h2>هیجان انگیز</h2>
                                            <p class="mx-auto mt-1">تا 5% تخفیف ویژه</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="nav-desh">
                                    <div class="desh-title">
                                        <h5>سازنده محصول کیست :</h5>
                                    </div>
                                    <p>
                                        لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                        و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                        فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                        می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                                        جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                        رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                    </p>

                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                        و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                        در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
                                        در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان
                                        را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                                        ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="info" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table info-table">
                                    <tbody>
                                        <tr>
                                            <td>سازنده</td>
                                            <td>امین احمدی</td>
                                        </tr>
                                        <tr>
                                            <td>میزان قند</td>
                                            <td>100 گرم</td>
                                        </tr>
                                        <tr>
                                            <td>نوشته روی کیک</td>
                                            <td>امین تولدت مبارک</td>
                                        </tr>
                                        <tr>
                                            <td>میزان چربی</td>
                                            <td>120 گرم</td>
                                        </tr>
                                        <tr>
                                            <td>نوع خمیر</td>
                                            <td>تهیه شده با آرد معمولی</td>
                                        </tr>
                                        <tr>
                                            <td>نوع خامه</td>
                                            <td>شکلاتی</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="care" role="tabpanel">
                            <div class="information-box">
                                <ul>
                                    <li>کیک های خامه ای را در یخچال نگهداری کنید. کیک های فوندانت باید در محیطی با تهویه مطبوع نگهداری شوند.</li>

                                    <li>کیک را برش بزنید و در دمای اتاق سرو کنید و مطمئن شوید که در معرض حرارت نباشد.</li>

                                    <li>از یک چاقوی دندانه دار برای برش کیک فوندانت استفاده کنید.</li>

                                    <li>عناصر مجسمه سازی و مجسمه ها ممکن است حاوی تکیه گاه های سیمی یا خلال دندان یا سیخ های چوبی برای حمایت باشند.</li>

                                    <li>لطفاً محل قرارگیری این اقلام را قبل از ارائه به کودکان کوچک بررسی کنید.</li>

                                    <li>کیک باید ظرف 24 ساعت مصرف شود.</li>

                                    <li>از کیک خود لذت ببرید!</li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="review" role="tabpanel">
                            <div class="review-box">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <div class="product-rating-box">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="product-main-rating">
                                                        <h2>
                                                            3.40
                                                            <i data-feather="star"></i>
                                                        </h2>

                                                        <h5>از 5</h5>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12">
                                                    <ul class="product-rating-list">
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>5<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: 40%;">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">2</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>4<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: 20%;">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">1</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>3<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: 0%;">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">0</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>2<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: 20%;">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">1</h5>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="rating-product">
                                                                <h5>1<i data-feather="star"></i></h5>
                                                                <div class="progress">
                                                                    <div class="progress-bar" style="width: 20%;">
                                                                    </div>
                                                                </div>
                                                                <h5 class="total">1</h5>
                                                            </div>
                                                        </li>

                                                    </ul>

                                                    <div class="review-title-2">
                                                        <h4 class="fw-bold">بازخورد این محصول</h4>
                                                        <p>با ثبت بازخورد خود در خرید دیگران راهنمایی خوبی باشید</p>
                                                        <button class="btn" type="button" data-bs-toggle="modal"
                                                                data-bs-target="#writereview">
                                                            ثبت دیدگاه جدید
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-7">
                                        <div class="review-people">
                                            <ul class="review-list">
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image people-text">
                                                                <img alt="user" class="img-fluid "
                                                                     src="../assets/images/review/1.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="people-comment">
                                                            <div class="people-name">
                                                                <a href="javascript:void(0)"
                                                                   class="name">جک داو</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        29 اردیبهشت 1403
                                                                        06:40 : عصر
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reply">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image people-text">
                                                                <img alt="user" class="img-fluid "
                                                                     src="../assets/images/review/2.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="people-comment">
                                                            <div class="people-name">
                                                                <a href="javascript:void(0)"
                                                                   class="name">جیسیکا میلر</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        29 اردیبهشت 1403
                                                                        06:34 : عصر
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <div class="product-rating">
                                                                            <ul class="rating">
                                                                                <li>
                                                                                    <i data-feather="star"
                                                                                       class="fill"></i>
                                                                                </li>
                                                                                <li>
                                                                                    <i data-feather="star"
                                                                                       class="fill"></i>
                                                                                </li>
                                                                                <li>
                                                                                    <i data-feather="star"
                                                                                       class="fill"></i>
                                                                                </li>
                                                                                <li>
                                                                                    <i data-feather="star"
                                                                                       class="fill"></i>
                                                                                </li>
                                                                                <li>
                                                                                    <i data-feather="star"></i>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reply">
                                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image people-text">
                                                                <img alt="user" class="img-fluid "
                                                                     src="../assets/images/review/3.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="people-comment">
                                                            <div class="people-name">
                                                                <a href="javascript:void(0)"
                                                                   class="name">امین احمدی</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        29 فروردین 1403
                                                                        06:18 : صبح
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reply">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image people-text">
                                                                <img alt="user" class="img-fluid "
                                                                     src="../assets/images/review/4.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="people-comment">
                                                            <div class="people-name">
                                                                <a href="javascript:void(0)"
                                                                   class="name">علی صادقی</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        5 مهر 1403
                                                                        05:58 : عصر
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reply">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image people-text">
                                                                <img alt="user" class="img-fluid "
                                                                     src="../assets/images/review/5.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="people-comment">
                                                            <div class="people-name">
                                                                <a href="javascript:void(0)"
                                                                   class="name">امین احمدی</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        29 مهر 1402
                                                                        05:22 : عصر
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"
                                                                                   class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="reply">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nav Tab Section End -->
<!-- Related Product Section Start -->
<section class="product-list-section section-b-space">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>محصولات مرتبط</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-6_1 product-wrapper">
                    <div>
                        <div class="product-box-3 wow fadeInUp">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left.htm">
                                        <img src="../assets/images/cake/product/11.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">کیک</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">کیک شکلاتی 250 گرمی</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                        </ul>
                                        <span>(5.0)</span>
                                    </div>
                                    <h6 class="unit">500 گرم</h6>
                                    <h5 class="price">
                                        <span class="theme-color">10.25 تومان</span> <del>12.57</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.05s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/2.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">سبزیجات</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">ماهی زنده ایتالیایی</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(4.0)</span>
                                    </div>
                                    <h6 class="unit">250 میلی لیتر</h6>
                                    <h5 class="price">
                                        <span class="theme-color">08.02 تومان</span> <del>15.15</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/3.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">سبزیجات</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">کوکی اسنکی پرتقالی 200 گرم</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(2.4)</span>
                                    </div>
                                    <h6 class="unit">350 گرم</h6>
                                    <h5 class="price">
                                        <span class="theme-color">04.33 تومان</span> <del>10.36</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.15s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/4.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">اسنک</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">چیپس سرکه ای مزمز</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                        </ul>
                                        <span>(5.0)</span>
                                    </div>
                                    <h6 class="unit">570 گرم</h6>
                                    <h5 class="price">
                                        <span class="theme-color">12.52 تومان</span> <del>13.62</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/5.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">اسنک</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">سیب زمینی تازه کردستان</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(3.8)</span>
                                    </div>
                                    <h6 class="unit">100 گرم</h6>
                                    <h5 class="price">
                                        <span class="theme-color">10.25 تومان</span> <del>12.36</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.25s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/6.png"
                                             class="img-fluid blur-up lazyload" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">سبزیجات</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">کوکی سیب زمینی با طرح عروسک</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(4.0)</span>
                                    </div>

                                    <h6 class="unit">550 گرم</h6>

                                    <h5 class="price">
                                        <span class="theme-color">14.25 تومان</span> <del>16.57</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="product-header">
                                <div class="product-image">
                                    <a href="product-left-thumbnail.html">
                                        <img src="../assets/images/cake/product/7.png" class="img-fluid" alt="">
                                    </a>

                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                            <a href="compare.html">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>

                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="لیست علاقه‌مندی">
                                            <a href="wishlist.html" class="notifi-wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-footer">
                                <div class="product-detail">
                                    <span class="span-name">سبزیجات</span>
                                    <a href="product-left-thumbnail.html">
                                        <h5 class="name">ماهی زنده ایتالیایی</h5>
                                    </a>
                                    <div class="product-rating mt-2">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(3.8)</span>
                                    </div>

                                    <h6 class="unit">1 کیلوگرم</h6>

                                    <h5 class="price">
                                        <span class="theme-color">12.68 تومان</span> <del>14.69</del>
                                    </h5>
                                    <div class="add-to-cart-box bg-white">
                                        <button class="btn btn-add-cart addcart-button">
                                            افزودن
                                            <span class="add-icon bg-light-gray">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                        <div class="cart_qty qty-box">
                                            <div class="input-group bg-white">
                                                <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="0">
                                                <button type="button" class="qty-right-plus bg-gray"
                                                        data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->