@using OrganicShop.BLL.Extensions
@section Styles {
    <link href="~/lib/datePicker/behzadi-persianDatepicker/css/persianDatepicker-default.css" rel="stylesheet" />
}
@using OrganicShop.Domain.Dtos.AddressDtos
@using OrganicShop.Domain.Dtos.ShippingMethodDtos
@using OrganicShop.Domain.Dtos.OrderDtos
@using OrganicShop.Domain.Dtos.ProductItemDtos
@using OrganicShop.Domain.Enums
@using OrganicShop.Domain.Enums.EnumValues
@model CreateOrderDto
@{
    var productItems = ViewData["ProductItems"] as List<ProductItemListDto>;
    int totalPrice = 0;
}
@section Breadcrumb {

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>پرداخت نهایی : سبد خرید</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/cart">
                                        سبد خرید
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">پرداخت نهایی</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}

<!-- Checkout section Start -->
<section class="checkout-section-2 section-b-space">
    <div class="container-fluid-lg">
        <div class="row g-sm-4 g-3" >

            <div class="col-lg-8" id="create-order-form-container">
                @await Html.PartialAsync("_Checkout-CreateOrderForm", Model)
            </div>

            <div class="col-lg-4">
                <div class="right-side-summery-box">
                    <div class="summery-box-2">
                        <div class="summery-header">
                            <h3>سبد خرید</h3>
                        </div>

                        <ul class="summery-contain">
                            @{
                                int productItemTotalPrice = 0;
                            }
                            @foreach (var productItem in productItems)
                            {
                                productItemTotalPrice = productItem.ProductDiscountedPrice == null ?
                                (productItem.ProductPrice * productItem.Count) : (productItem.ProductDiscountedPrice.Value * productItem.Count);

                                <li>
                                    <img src="~/media/images/product/@productItem.ProductMainImageName" class="img-fluid blur-up lazyloaded checkout-image"
                                         alt="@productItem.ProductTitle">
                                    <h4>@productItem.ProductTitle<span> (@productItem.Count) </span></h4>
                                    <h4 class="price">
                                        @productItemTotalPrice.ToToman()
                                    </h4>
                                </li>
                            }

                        </ul>

                        <ul class="summery-total" id="checkout-summary">
                            @await Html.PartialAsync("_Checkout-Summary", Model)
                        </ul>
                    </div>

                    <button type="button" onclick="FetchRequestFormWithId('create-order-form')"
                            class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">
                        ثبت سفارش
                    </button>
                </div>
            </div>
         @*    <input hidden readonly asp-for="UserId" />
            <input hidden readonly asp-for="CartId" />
            <input hidden readonly asp-for="ShippingMethodName" />
            <input hidden readonly asp-for="TotalPrice" value="@totalPrice"/>
            <input hidden readonly asp-for="CouponAmount"/>
            <input hidden readonly asp-for="ShippingPrice"/>
            <input hidden readonly asp-for="FinalPrice" /> *@
        </div>
    </div>
</section>
<!-- Checkout section End -->



<form id="load-checkout-addresses-form" action="/Checkout/Addresses" method="get" data-container-id="checkout-addresses">
</form>

<form id="load-checkout-form" action="/Checkout" method="put" data-container-id="checkout-summary">
    <input name="shippingMethodId" hidden readonly />
</form>


@section Modals {

    <div class="modal fade theme-modal" id="add-address-modal" tabindex="-1" aria-modal="true" role="dialog">
        @await Html.PartialAsync("_AddAddressModal", new CreateAddressDto());
    </div>
}

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script src="~/lib/datePicker/behzadi-persianDatepicker/js/persianDatepicker.min.js"></script>

    <script src="~/site/views/order/checkout.js"></script>



}



