@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.ProductItemDtos
@model List<ProductItemListDto>

@{
    int cartTotal = 0;
}

<li id="cart-summary-dropdown" class="onhover-dropdown">
    <a href="/Cart" class="header-icon bag-icon">
        <small class="badge-number">@Model.Count</small>
        <i class="iconly-Bag-2 icli"></i>
    </a>
    <div class="onhover-div">
        <ul class="cart-list">
            @foreach (var item in Model)
            {
                <li id="cart-summary-productItem-@item.Id">
                    <div class="drop-cart">
                        <a href="/product/@item.ProductBarcode" class="drop-image">
                            <img src="~/media/images/product/@item.ProductMainImageName"
                                 class="blur-up lazyload" alt="@item.ProductTitle">
                        </a>

                        <div class="drop-contain">
                            <a href="product/@item.ProductBarcode">
                                <h5>@item.ProductTitle</h5>
                            </a>
                            <h6><span>@item.Count x</span>@(item.ProductDiscountedPrice == null ? item.ProductPrice.ToToman() : item.ProductDiscountedPrice.Value.ToToman())</h6>
                            <button class="close-button" onclick="RemoveCartSummaryProductItem('@item.Id' , 'cart-summary-productItem-@item.Id')">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </li>
                cartTotal += item.ProductDiscountedPrice == null ? (item.ProductPrice * item.Count) : (item.ProductDiscountedPrice.Value * item.Count);
            }

            
        </ul>


        <div class="price-box">
            <h5>جمع کل :</h5>
            <h4 class="theme-color fw-bold">@cartTotal.ToToman()</h4>
        </div>

        <div class="button-group">
            <a href="/Cart" class="btn btn-sm cart-button">سبد خرید</a>
            <a href="@(User.Identity.IsAuthenticated ? "/Checkout" : "/Account/Login")" class="btn btn-sm cart-button theme-bg-color text-white">پرداخت</a>
        </div>
    </div>
</li>

<form hidden id="cart-summary-remove-productitem-form" method="post" action="/CartSummary/RemoveProductItem" data-target-id="cart-summary-dropdown">
    <input id="cart-summary-remove-productitem-input-id" name="productItemId" value="0" type="number" />
</form>