<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="assets/images/favicon/1.png" type="image/x-icon">
    <title>OraganicShop - ارگانیک شاپ</title>

    
    <partial name="_SiteStyles" />

    @RenderSection("Styles",false)

</head>



<body class="theme-color-2 bg-effect">


    <img src="~/media/images/loading/Chunk-4s-1px.png" id="loading-background" style="width: 100%; height: 120%; opacity: 0.4; z-index: 9999; display: none;  position: absolute;" />
    <img src="~/media//images/loading/Bean Eater1x-0.8s-100px-100px.svg" id="loading-svg" style="width: 16%; height: 16%; margin-top: 300px; margin-right: 650px; z-index: 99999; display: none;  position: fixed;" />

@*     <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End --> *@

    @await Component.InvokeAsync("SiteHeader")

    @RenderSection("Breadcrumb",false)

    <main role="main" id="view-container">
        @RenderBody()
    </main>


    @await Component.InvokeAsync("SiteFooter")

    <partial name="_BackToTop" />

    <partial name="_SiteScripts" />

    @if (TempData["Toast"] != null)
    {
        var toast = Toast.GetToastFromTempData(TempData["Toast"]);
        <partial name="_ToastPartial" model="toast" />
    }

    @RenderSection("Modals", false)

    @RenderSection("Scripts", false)

</body>
</html>
