@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.Page
@using OrganicShop.Domain.Dtos.ProductDtos
@using OrganicShop.Domain.Entities
@model List<ProductSummaryDto>
@{
    List<ProductSummaryDto> productsHistory = ViewData["ProductsHistory"] as List<ProductSummaryDto>;
    var userWihsIds = ViewData["UserWishProductIds"] as long[] ?? new long[0];
    var categoryIds = ViewData["CategoryIds"] as int[] ?? new int[0];
    var categories = Model.SelectMany(a => a.Categories);
    float? discountPercent = null;
    //var CategoriesGroup = Model.GroupBy(a => a.Categories.Any(a => categoryIds.con));
}
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="title title-flex">
            <h2 class="mb-lg-0 mb-2">محصولات ما</h2>
            <ul class="nav nav-tabs tab-style-color" id="myTab">
                <li class="nav-item">
                    <button class="nav-link btn active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all"
                            type="button">
                        همه
                    </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link btn" id="cookies-tab" data-bs-toggle="tab" data-bs-target="#cookies"
                            type="button">
                        بازید های اخیر
                    </button>
                </li>

                @{
                    byte index = 1;
                }
                @foreach (var categoryId in categoryIds)
                {
                    <li class="nav-item">
                        <button class="nav-link btn" data-bs-toggle="tab" data-bs-target="#tab-number-@index" type="button">
                            @categories.FirstOrDefault(a => a.Id == categoryId).Title
                        </button>
                    </li>
                    index++;
                }
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="row g-8">

                    @foreach (var item in Model.UnionBy(productsHistory, a => a.Id).Take(12))
                    {
                        if (item.DiscountedPrice != null)
                        {
                            discountPercent = (float)(item.Price - item.DiscountedPrice) * 100f / (float)item.Price;
                        }
                        <div class="col-xxl-2 col-lg-3 col-md-4 col-6 wow fadeInUp">
                            <div class="product-box-4">
                                <div class="product-image">
                                    <div class="label-flex">
                                        @if (discountPercent != null)
                                        {
                                            <div class="discount">
                                                <label>@discountPercent.Value.ToString("0.0")%</label>
                                            </div>
                                        }
                                        @if (userWihsIds.Contains(item.Id))
                                        {
                                            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="true" onclick="EditProductInWishList1(event,'@item.Id')">
                                                <i class="fa-solid fa-heart" style="color: #e14141;"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                                <i class="fa-regular fa-heart" style="color: #7c7e7e;"></i>
                                            </button>
                                        }
                                    </div>

                                    <a href="/Product/@item.Barcode">
                                        <img src="~/media/images/product/@item.MainImageName" class="img-fluid" alt="">
                                    </a>

                                    <ul class="option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a role="button" onclick="PreviewProductModalRequest('@item.Id')">
                                                <i class="iconly-Show icli"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-detail">
                                    <div style="display:flex; flex-direction:row;">
                                        @await Html.PartialAsync("_RatingPartial", item.CommentsRate)
                                    </div>
                                    <a href="/Product/@item.Barcode">
                                        <h5 class="name">@item.Title</h5>
                                    </a>
                                    @if (item.DiscountedPrice != null)
                                    {
                                        <h5 class="price theme-color"> @item.DiscountedPrice.Value.ToToman() <del>@item.Price.ToMoney()</del></h5>
                                    }
                                    else
                                    {
                                        <h5 class="price theme-color"> @item.Price.ToToman()</h5>
                                    }
                                    <div class="price-qty">
                                        <div class="counter-number">
                                            <div class="counter">
                                                <div class="qty-left-minus" data-type="minus" data-field="">
                                                    <i class="fa-solid fa-minus"></i>
                                                </div>
                                                <input id="product-@item.Id-quantity-0" class="form-control input-number qty-input" min="1" max="@item.Stock" type="text" value="0">
                                                <div class="qty-right-plus" data-type="plus" data-field="" max="">
                                                    <i class="fa-solid fa-plus"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="buy-button buy-button-2 btn" onclick="AddProductToCart('@(item.Id)' , null , 0 , 'product-@item.Id-quantity-0');">
                                            <i class="iconly-Buy icli text-white m-0"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        discountPercent = null;
                    }

                </div>
            </div>

            <div class="tab-pane fade" id="cookies" role="tabpanel" aria-labelledby="cookies-tab">
                <div class="row g-8">

                    @foreach (var item in productsHistory)
                    {
                        if (item.DiscountedPrice != null)
                        {
                            discountPercent = (float)(item.Price - item.DiscountedPrice) * 100f / (float)item.Price;
                        }
                        <div class="col-xxl-2 col-lg-3 col-md-4 col-6">
                            <div class="product-box-4">
                                <div class="product-image">
                                    <div class="label-flex">
                                        @if (discountPercent != null)
                                        {
                                            <div class="discount">
                                                <label>@discountPercent.Value.ToString("0.0")%</label>
                                            </div>
                                        }
                                        @if (userWihsIds.Contains(item.Id))
                                        {
                                            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="true" onclick="EditProductInWishList1(event,'@item.Id')">
                                                <i class="fa-solid fa-heart" style="color: #e14141;"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                                <i class="fa-regular fa-heart" style="color: #7c7e7e;"></i>
                                            </button>
                                        }
                                    </div>

                                    <a href="/Product/@item.Barcode">
                                        <img src="~/media/images/product/@item.MainImageName" class="img-fluid" alt="">
                                    </a>

                                    <ul class="option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                            <a role="button" onclick="PreviewProductModalRequest('@item.Id')">
                                                <i class="iconly-Show icli"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="product-detail">
                                    <div style="display:flex; flex-direction:row;">
                                        @await Html.PartialAsync("_RatingPartial", item.CommentsRate)
                                    </div>
                                    <a href="/Product/@item.Barcode">
                                        <h5 class="name">@item.Title</h5>
                                    </a>
                                    @if (item.DiscountedPrice != null)
                                    {
                                        <h5 class="price theme-color"> @item.DiscountedPrice.Value.ToToman() <del>@item.Price.ToMoney()</del></h5>
                                    }
                                    else
                                    {
                                        <h5 class="price theme-color"> @item.Price.ToToman()</h5>
                                    }
                                    <div class="price-qty">
                                        <div class="counter-number">
                                            <div class="counter">
                                                <div class="qty-left-minus" data-type="minus" data-field="">
                                                    <i class="fa-solid fa-minus"></i>
                                                </div>
                                                <input id="product-@item.Id-quantity-1" class="form-control input-number qty-input" min="1" max="@item.Stock" type="text"
                                                       name="quantity" value="0">
                                                <div class="qty-right-plus" data-type="plus" data-field="" max="">
                                                    <i class="fa-solid fa-plus"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="buy-button buy-button-2 btn btn-cart" onclick="AddProductToCart('@(item.Id)' , null , 0 , 'product-@item.Id-quantity-1');">
                                            <i class="iconly-Buy icli text-white m-0"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        discountPercent = null;
                    }

                </div>
            </div>


            @{
                index = 1;
            }
            @foreach (var categoryId in categoryIds)
            {
                <div class="tab-pane fade" id="tab-number-@index" role="tabpanel" aria-labelledby>

                    <div class="row g-8">

                        @foreach (var item in Model.Where(a => a.Categories.Any(a => a.Id == categoryId)))
                        {
                            if (item.DiscountedPrice != null)
                            {
                                discountPercent = (float)(item.Price - item.DiscountedPrice) * 100f / (float)item.Price;
                            }
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-6">
                                <div class="product-box-4">
                                    <div class="product-image">
                                        <div class="label-flex">
                                            @if (discountPercent != null)
                                            {
                                                <div class="discount">
                                                    <label>@discountPercent.Value.ToString("0.0")%</label>
                                                </div>
                                            }
                                            @if (userWihsIds.Contains(item.Id))
                                            {
                                                <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="true" onclick="EditProductInWishList1(event,'@item.Id')">
                                                    <i class="fa-solid fa-heart" style="color: #e14141;"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                                    <i class="fa-regular fa-heart" style="color: #7c7e7e;"></i>
                                                </button>
                                            }
                                        </div>

                                        <a href="/Product/@item.Barcode">
                                            <img src="~/media//images/product/@item.MainImageName" class="img-fluid" alt="">
                                        </a>

                                        <ul class="option">
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                                <a role="button" onclick="PreviewProductModalRequest('@item.Id')">
                                                    <i class="iconly-Show icli"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="product-detail">
                                        <div style="display:flex; flex-direction:row;">
                                            @await Html.PartialAsync("_RatingPartial", item.CommentsRate)
                                        </div>
                                        <a href="/Product/@item.Barcode">
                                            <h5 class="name">@item.Title</h5>
                                        </a>
                                        @if (item.DiscountedPrice != null)
                                        {
                                            <h5 class="price theme-color"> @item.DiscountedPrice.Value.ToToman() <del>@item.Price.ToMoney()</del></h5>
                                        }
                                        else
                                        {
                                            <h5 class="price theme-color"> @item.Price.ToToman()</h5>
                                        }
                                        <div class="price-qty">
                                            <div class="counter-number">
                                                <div class="counter">
                                                    <div class="qty-left-minus" data-type="minus" data-field="">
                                                        <i class="fa-solid fa-minus"></i>
                                                    </div>
                                                    <input id="product-@item.Id-quantity-2" class="form-control input-number qty-input" min="1" max="@item.Stock" type="text"
                                                           name="quantity" value="0">
                                                    <div class="qty-right-plus" data-type="plus" data-field="" max="">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="buy-button buy-button-2 btn btn-cart" onclick="AddProductToCart('@(item.Id)' , null , 0, 'product-@item.Id-quantity-2');">
                                                <i class="iconly-Buy icli text-white m-0"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            discountPercent = null;
                        }
                    </div>

                </div>
                index++;
            }


        </div>
    </div>
</section>