@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.ProductDtos
@model List<ProductSummaryDto>
@{
    var userWihsIds = ViewData["UserWishProductIds"] as long[] ?? new long[0];
}

<!-- Product Sction Start -->
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>محصولات برتر</h2>
        </div>

        <div class="slider-6 img-slider slick-slider-1 arrow-slider">

            @{
                var item = new ProductSummaryDto();
            }
            @for (int i = 0; i < Model.Count; i += 2)
            {
                item = Model[i];
                <div class="product-box-4 wow fadeInUp">
                    <div class="product-image">
                        <div class="label-flex">
                            @if (userWihsIds.Contains(item.Id))
                            {
                                <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                    <i class="fa-solid fa-heart" style="color: #e14141;"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                    <i class="fa-regular fa-heart" style="color: #7c7e7e;"></i>
                                </button>
                            }
                        </div>

                        <a href="product-left.html">
                            <img src="~/media/images/product/@item.MainImageName" class="img-fluid" alt="">
                        </a>

                        <ul class="option">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                <a role="button" onclick="PreviewProductModalRequest('@item.Id')">
                                    <i class="iconly-Show icli"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="product-detail">
                        @await Html.PartialAsync("_RatingPartial", item.CommentsRate)
                        <a href="">
                            <h5 class="name">@item.Title</h5>
                        </a>
                        @if (item.DiscountedPrice != null)
                        {
                            <h5 class="price theme-color"> @item.DiscountedPrice.Value.ToToman() <del>@item.Price.ToMoney()</del></h5>
                        }
                        else
                        {
                            <h5 class="price theme-color"> @item.Price.ToToman()</h5>
                        }
                        <div class="price-qty">
                            <div class="counter-number">
                                <div class="counter">
                                    <div class="qty-left-minus" data-type="minus" data-field="">
                                        <i class="fa-solid fa-minus"></i>
                                    </div>
                                    <input id="product-@item.Id-quantity-3" class="form-control input-number qty-input" min="1" max="@item.Stock" type="text"
                                           name="quantity" value="0">
                                    <div class="qty-right-plus" data-type="plus" data-field="" max="">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>

                            <button class="buy-button buy-button-2 btn btn-cart" onclick="AddProductToCart('@(item.Id)' , null , 0 , 'product-@item.Id-quantity-3');">
                                <i class="iconly-Buy icli text-white m-0"></i>
                            </button>
                        </div>
                    </div>
                </div>

                @if (i + 1 < Model.Count)
                {
                    item = Model[i + 1];
                    <div class="product-box-4 wow fadeInUp">
                        <div class="product-image">
                            <div class="label-flex">
                                @if (userWihsIds.Contains(item.Id))
                                {
                                    <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="true" onclick="EditProductInWishList1(event,'@item.Id')">
                                        <i class="fa-solid fa-heart" style="color: #e14141;"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn p-0 wishlist btn-wishlist notifi-wishlist" data-iswish="false" onclick="EditProductInWishList1(event,'@item.Id')">
                                        <i class="fa-regular fa-heart" style="color: #7c7e7e;"></i>
                                    </button>
                                }
                            </div>

                            <a href="product-left.html">
                                <img src="~/media/images/product/@item.MainImageName" class="img-fluid" alt="">
                            </a>

                            <ul class="option">
                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                    <a role="button" onclick="PreviewProductModalRequest('@item.Id')">
                                        <i class="iconly-Show icli"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="product-detail">
                            @await Html.PartialAsync("_RatingPartial", item.CommentsRate)
                            <a href="">
                                <h5 class="name">@item.Title</h5>
                            </a>
                            @if (item.DiscountedPrice != null)
                            {
                                <h5 class="price theme-color"> @item.DiscountedPrice.Value.ToToman() <del>@item.Price.ToMoney()</del></h5>
                            }
                            else
                            {
                                <h5 class="price theme-color"> @item.Price.ToToman()</h5>
                            }
                            <div class="price-qty">
                                <div class="counter-number">
                                    <div class="counter">
                                        <div class="qty-left-minus" data-type="minus" data-field="">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                        <input id="product-@item.Id-quantity-1" class="form-control input-number qty-input" min="1" max="@item.Stock" type="text"
                                               name="quantity" value="0">
                                        <div class="qty-right-plus" data-type="plus" data-field="" max="">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>

                                <button class="buy-button buy-button-2 btn btn-cart" onclick="AddProductToCart('@(item.Id)' , null , 0, 'product-@item.Id-quantity-1');">
                                    <i class="iconly-Buy icli text-white m-0"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
<!-- Product Sction End -->
